<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KittyWeb | Login </title>
        <link rel="stylesheet" href="/static/style/entrar.css">
    </head>
    <body>
        <div class="geral">

            <div class="form">
        
                <form action="/login" method="post">
                    <input type="text" name="nome_usuario" id="nome" placeholder="Nome de Usuário" required>
                    <input type="text" name="senha" id="senha" placeholder="Senha">

                

                    <div class="botao">
                        <button class="botao_entrar" type="submit">Entrar</button>

                        <button class="botao_voltar">
                            <a href="/">Voltar</a>
                        </button>
                    </div>

                    <div class="link">
                        <a href="/cadastro">Não tem uma conta? Se cadastre já</a>
                    </div>

                    <div class="entrar">
                        <img src="../static/assets/Group 2 (2).png" alt="entrar">
                    </div>

                    <div class="laco">
                        <img src="../static/assets/laco.png" alt="">
                    </div>
            
                </form>

                <div class="kitty">
                    <img src="../static/assets/helloentre.png" alt="">
                 </div>
            </div>

            <h1> Seja Bem-vindo de volta!♡</h1>
            
           

        </div>
        <script src="index.js"></script>
    </body>
</html>